.main {
    background-color: #e554731d;

}

.header_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text_style h3 {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

.text_style p {
    color: gray;
    font-style: italic;
}

.img_style {
    margin-top: 5%;
}

.button {
    background-color: #E55473;
    color: white;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-weight: 600;
    font-style: italic;
}

.main_flower {
    margin-top: 132px;
}

.our_text {
    text-align: center;
}

.our_text h4 {
    font-size: 30px;
    font-style: italic;
}

.our_text p {
    color: gray;
}

.flower_style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bg-style {
    background-color: #a7216234;
    padding-top: 50px;
    border-radius: 100px 100px 0 0;
}

.bg-style1 {
    background-color: #0598a027;
    border-radius: 100px 100px 0 0;
}

.bg-style2 {
    background-color: #477d1120;
    border-radius: 100px 100px 0 0;
}

.p_style {
    border-bottom: 2px solid black;
    margin: 30%;
    text-align: center;
}

.main_optinal {
    background-color: #2727271f;
    margin-left: 24%;
    margin-right: 24%;
    border-radius: 5px;
    padding: 10px;
}

.optional_section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.optional_section p {
    color: #272727d6;
}

.icon_style {
    padding: 30px;
    text-align: center;
    font-style: italic;
}

.main_top_space {
    margin-top: 150px;
    background-color: #e554730a;
    margin-bottom: 150px;
}

.main_text_style {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.main_instagram {
    margin-bottom: 150px;
}

.instagram_icon {
    width: 30px;

}

.pragrph_tag {
    color: gray;
    font-size: 18px;
}

.one_tag_style {
    color: #E55473;
}

.Instagram_section {
    text-align: center;
}

.Instagram_section h3 {
    font-style: italic;
    font-size: 35px;
}

.Instagram_section p {
    font-style: italic;
    color: gray;
}

.four_flower_style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container{
    margin-bottom: 150px;
}

.linear-gradient-img {
    position: relative;
    text-align: center;

}

.text-title {
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(-50%, -50%);

}

.text-title h2 {
    font-style: italic;
}

.text-title p {
    color: gray;
}

.input_style{
    display: flex;
    gap: 10px;
}

.input_style input {
    border: none;
    padding: 14px;
    border-radius: 8px;
}

footer{
    background-color: #111010;
    padding: 40px;
    text-align: center;
}
footer h2{
    color: white;
}
footer span{
    color: #E55473;
}

footer p{
    color: gray;
}